{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.ie.css" />
<![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"></script>
<script src="/js/leaflet.markercluster.js"></script>
<script src="/js/heatcanvas.js"></script>
<script src="/js/heatcanvas-worker.js"></script>
<script src="/js/heatcanvas-leaflet.js"></script>

<script src="/js/main.js" async defer></script>

<link rel="stylesheet" href="/css/MarkerCluster.css" />
<link rel="stylesheet" href="/css/MarkerCluster.Default.css" />
{% endblock %}

{% block content %}
<div id="map"></div>

<small class="attribution">
	 <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>

	 <div>
	 	This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" rel="dct:type">dataset</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">UNDP South Sudan IMWG data team</span><br> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
	 </div>
</small>

{% endblock %}